@model Student
    <a href="/Student/AllStudents" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>All Student List</a>

    <h1 class="alert alert-warning">Enter the details of student bellow:</h1>
    @if (ViewBag.Message != null && ViewBag.Message != "")
    {
        <p class="alert alert-success"><span class="glyphicon glyphicon-ok-circle "></span>@ViewBag.Message</p>
    }
        <form action="/Student/AddStudent" method="post" enctype="multipart/form-data">


            <div class="col-md-6" style="color:brown">
                <div class="col-md-2">
                    <label for="Name">Name:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="Name" name="Name" placeholder="Name" /><br /><br />
                    <span id="NameErroe"></span>
                </div>

                <div class="col-md-2">
                    <label for="Dept">Department:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="Dept" name="Dept" placeholder="Dept" /><br /><br />
                    <span id="DeptErroe"></span>
                </div>

                <div class="col-md-2">
                    <label for="Email">Email:</label>
                </div>
                <div class="col-md-10">
                    <input type="Email" id="Email" name="Email" placeholder="Email" /><br /><br />
                    <span id="EmailErroe"></span>
                </div>

                <div class="col-md-2">
                    <label for="Address">Address:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="Address" name="Address" placeholder="Address" /><br /><br />
                    <span id="AddressErroe"></span>
                </div>

                <div class="col-md-2">
                    <label for="Contact">Contact:</label>
                </div>
                <div class="col-md-10">
                    <input type="number" id="Contact" name="Contact" placeholder="Contact" /><br /><br />
                    <span id="ContactErroe"></span>
                </div>

                <div class="col-md-2">
                    <label for="Cv">Upload CV:</label>
                </div>
                <div class="col-md-10">
                    <input type="file" id="Cv" name="Cv" /><br /><br />
                    <span id="FileErroe"></span>
                </div>

                <div class="col-md-6">
                    <div>
                        <br />
                        <input type="submit" class="col-md-6" value="Add Detail" />
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                <img src="~/images/blank-profile-picture-973461_960_720.png" />
                <input type="file" accept=".jpg , .png" id="picture" />
            </div>*@


            <br />

        </form><br /><hr />