@model ThetaProject.Models.LoginUser


<h2 class="alert alert-warning">Please Enter the details bellow</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{

    <h2> @ViewBag.Message</h2>
}

<hr />
<div class="row alert alert-info">
    <div class="col-md-4">
        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label> First Name</label>
                <input asp-for="FName" class="form-control"  />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Last Name</label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" id="password" name="password" placeholder="*****" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Gender</label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Date of birth</label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
                <a href="/Student/Login" class="btn btn-warning"> Sign In</a>

            </div>
        </form>
    </div>
</div>

<div>
    <a href=" /Student/AllStudents">Back to List</a>
</div>

